{% extends 'app/base.html' %}

{% block content %}

<section style="padding-bottom: 20px; padding-top: 65px; background: #212529; height: 200px" id="hero" class="d-flex align-items-center">
    <div class="container text-light">
      <div class="row">
        <div style="text-align: center" class="col-lg-12 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1">
          <h1>Documentos</h1>

        </div>
      </div>
    </div>
</section><!-- End Hero -->

<main role="main" class="container">
    <div class="row" style="margin-bottom: 25px;padding-top: 10px">
      <div class="col-2">
        <h3>Filtro</h3>
      </div>
     <div class="col-10">
          <form method="POST" class="post-form mt-2 mt-md-0"> {% csrf_token %}
            <input id="search_box" name="search_box" class="form-control mr-sm-4" type="text" placeholder="Digite o nome da catalogada para pesquisar" aria-label="Search">
            <!--<button id="search_submit" style="background-color: black; border-color: black;" type="submit" class="btn btn-secondary">Pesquisar</button>-->
          </form>
      </div>
    </div>

    {% for field in documentos %}
        <table class="table table-striped" >
            <thead>
            <tr>
                <th scope="col">Id do documento</th>
                <th scope="col">Catalogada vinculada</th>
                <th scope="col">Tipo de documento</th>
                <th scope="col">Data edição</th>
                <th scope="col">Publicado</th>

            </tr>
          </thead>

              <tbody>
                <tr>
                    <td>{{ field.id }}</td>
                    <td>{{ field.catalogadas.first }}</td>
                    <td>{{ field.tipo_documento}}</td>
                    <td>{{ field.data_edicao_documento}}</td>
                    <td>{{ field.publicar }}</td>
                </tr>
              </tbody>
            </table>
            <div class="row" style="margin-bottom: 60px">
                <div class="col-sm-8">
                    <a href="{% url 'descricao_documento' pk=field.id %}" class="btn btn-secondary">Visualização completa</a>
                    <a href="{% url 'editar_documento' pk=field.id %}" class="btn btn-secondary">Editar</a>
                </div>
            </div>

        {% endfor %}
    </main>
    {% endblock %}
